<!DOCTYPE html>
<html>
  <head>
    <title>Casual Images</title>
  </head>
  <body>
    <h1>Casual Images</h1>
    {{#each images}}
    <img src="{{this.imagePath}}" alt="Casual Image">
    {{/each}}
  </body>
</html>

