<!DOCTYPE html>
<html>
  <head>
    <title>Party Images</title>
  </head>
  <body>
    <h1>Party Images</h1>
    {{#each images}}
    <img src="{{this.imagePath}}" alt="Party Image">
    {{/each}}
  </body>
</html>

