<!DOCTYPE html>
<html>
  <head>
    <title>Traditional Images</title>
  </head>
  <body>
    <h1>Traditional Images</h1>
    {{#each images}}
    <img src="{{this.imagePath}}" alt="Traditional Image">
    {{/each}}
  </body>
</html>

