<!DOCTYPE html>
<html>
<head>
  <title>Upload Images</title>
</head>
<body>
  <h1>Upload Images</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <label for="traditional">Traditional:</label>
    <input type="file" name="traditional" id="traditional"><br>

    <label for="casual">Casual:</label>
    <input type="file" name="casual" id="casual"><br>

    <label for="party">Party:</label>
    <input type="file" name="party" id="party"><br>

    <input type="submit" value="Upload">
  </form>
 
</body>
</html>
